.spaceFahuo .head>div:nth-child(3){
	 color: #f949cf;
    border-bottom: 1px solid #f949cf;
}

.spaceFahuo .head>div{
	color: #000;
	border-bottom: none;
}

.spaceFahuo .nav{
	height: 60px;
	background-color: #f949cf;
	position: relative;
}

.spaceFahuo .return{
	width: 16px; 
	position: absolute;bottom: 10px;
	bottom: 15px;
	left: 5px;
}

.spaceFahuo .nav>p{
	line-height: 60px;
	color: #fff;
}

/*---------------------------------------*/
.spaceFahuo .head{
	overflow: hidden;
}

.spaceFahuo .head>div{
	width: 25%;
	text-align: center;
	float: left;
}


.spaceFahuo .header{
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 15px;
}

.spaceFahuo .header>div{
	padding-top: 10px;
}

.spaceFahuo .font{
	font-size: 13px;
	border-bottom: 1px solid #ddd;
	padding-bottom:20px;
}

.spaceFahuo .img-div{
	overflow: hidden;
	padding-top:10px;
	position: relative;
	padding-bottom:5px;
	border-bottom: 1px solid #ddd;
}

.spaceFahuo .img{
	float: left;
	width: 35%;
}

.spaceFahuo .img-div>p{
	font-size: 12px;
	margin-left: 5px;
	float: left;
	width:63%;
}

.spaceFahuo .money{
	position: absolute;
	bottom: 10px;
	left: 38%;
	color: #f949cf;
}

.spaceFahuo .b{
	float: right;
	border:1px solid #f949ce;
	width: 80px;
	text-align: center;
	border-radius: 5px;
	margin-left: 10px;
}

.spaceFahuo .btn{
	overflow: hidden;
	padding-top: 5px;
}

.spaceFahuo .btn2{
	color: #808080;
}

.spaceFahuo .btn1{
	background-color: #f949ce;
	color: #fff;
}

